<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>VK Studio</title>
    <link rel="icon" href="~/assets/logo.svg" type="image/x-icon">
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/media.css" asp-append-version="true" />
</head>

<body>
    <div class="dark-background" id="darkBackground"></div>
    <div class="burger-menu" onclick="toggleBurgerMenu()">
        <div class="burger-icon" id="burgerIcon">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </div>
        <div class="menu" id="burgerMenu">
            <a href="#dyed">Фарбування</a>
            <a href="#cut">Стрижки</a>
            <a href="#products">Товари</a>
            <a href="#contacts">Контакти</a>
        </div>
    </div>
    <header>
        <a asp-page="/Index">
            <div class="logo">
                <img src="assets/logo.svg" alt="logo">
            </div>
        </a>
        <div class="menu-item-div">
            <a asp-page="/Login" class="menu-item">
                Обрати фото
            </a>
        </div>
        <a asp-page="/Index" class="main-label-a">
            <span class="main-label">
                VK Studio
            </span>
        </a>
        <nav>
            <ul class="nav-ul">
                <li><a href="#dyed">Фарбування</a></li>
                <li><a href="#cut">Стрижки</a></li>
                <li><a href="#products">Товари</a></li>
                <li><a href="#contacts">Контакти</a></li>
            </ul>
        </nav>
        <div class="phone-numbers">
            <span class="menu-item">
                +380983078707
            </span>
            <span class="menu-item">
                +380679396615
            </span>
        </div>
    </header>


    <div class="container">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer>
        <div class="footer-content">
            <div class="footer-btns">
                <a class="footer-btn" href="#dyed">Фарбування</a>
                <a class="footer-btn" href="#cut">Стрижки</a>
                <a class="footer-btn" href="#products">Товари</a>
                <a class="footer-btn" href="#contacts">Контакти</a>
            </div>
            <div>
                <img class="footer-img" src="assets/logo.svg" alt="logo img">
            </div>
        </div>
        <div class="footer-content footer-down">
            <div class="footer-inf">
                <span>Ⓒ 2024 VK Studio</span>
                <span>Ⓒ MilaGttP</span>
            </div>
            <div class="footer-all-inf">
                <span>+380964954445</span>
                <span>+380679396615</span>
                <span>Вул. Хлібна, 13</span>
                <a class="go-up" href="#home">Back into top ↑</a>
            </div>
        </div>
    </footer>

    @await RenderSectionAsync("Scripts", required: false)

    <script src="~/js/burgerMenu.js"></script>

</body>
</html>