@page
@model AllPhotosModel
@{

}

<section class="all-dyed" id="dyed">
    <div class="all-content">
        <div class="all-main">
            <h3 class="all-header">Фарбування</h3>
        </div>
        <div class="all-photos">
            <img class="all-ph main-width" src="assets/test_img.jpg" alt="test_img">
            <img class="all-ph main-width" src="assets/test_img.jpg" alt="test_img">
            <img class="all-ph main-width" src="assets/test_img.jpg" alt="test_img">
            <img class="all-ph main-width" src="assets/test_img.jpg" alt="test_img">
            <img class="all-ph main-width" src="assets/test_img.jpg" alt="test_img">
            <img class="all-ph main-width" src="assets/test_img.jpg" alt="test_img">
        </div>
    </div>
</section>

<section class="all-cut" id="cut">
    <div class="all-content">
        <div class="all-main">
            <h3 class="all-header">Стрижки</h3>
        </div>
        <div class="all-photos">
            <img class="all-ph main-width" src="assets/test_img.jpg" alt="test_img">
            <img class="all-ph main-width" src="assets/test_img.jpg" alt="test_img">
            <img class="all-ph main-width" src="assets/test_img.jpg" alt="test_img">
            <img class="all-ph main-width" src="assets/test_img.jpg" alt="test_img">
            <img class="all-ph main-width" src="assets/test_img.jpg" alt="test_img">
            <img class="all-ph main-width" src="assets/test_img.jpg" alt="test_img">
        </div>
    </div>
</section>

<section class="all-products" id="products">
    <div class="all-content">
        <div class="all-main">
            <h3 class="all-header">Товари</h3>
        </div>
        <div class="all-photos">
            <img class="all-ph prod-width" src="assets/prod1.jpg" alt="test_img">
            <img class="all-ph prod-width" src="assets/prod2.jpg" alt="test_img">
            <img class="all-ph prod-width" src="assets/prod1.jpg" alt="test_img">
            <img class="all-ph prod-width" src="assets/prod2.jpg" alt="test_img">
            <img class="all-ph prod-width" src="assets/prod1.jpg" alt="test_img">
            <img class="all-ph prod-width" src="assets/prod2.jpg" alt="test_img">
        </div>
    </div>
</section>