@page
@model ChoosePhotosModel
@{

}

<section class="choose" id="dyed">
    <h3 class="choose-header-text">Фарбування</h3>

    <div class="choose-dyed-items">
        <div class="choose-dyed-item">
            <label class="check-container">
                <input type="checkbox">
                <span class="checkmark"></span>
            </label>
            <img class="choose-img" src="assets/test_img.jpg" alt="image">
        </div>
        <div class="choose-dyed-item">
            <label class="check-container">
                <input type="checkbox">
                <span class="checkmark"></span>
            </label>
            <img class="choose-img" src="assets/test_img.jpg" alt="image">
        </div>
    </div>
</section>

<section class="choose" id="cut">
    <h3 class="choose-header-text">Стрижки</h3>

    <div class="choose-dyed-items">
        <div class="choose-dyed-item">
            <label class="check-container">
                <input type="checkbox">
                <span class="checkmark"></span>
            </label>
            <img class="choose-img" src="assets/test_img.jpg" alt="image">
        </div>
        <div class="choose-dyed-item">
            <label class="check-container">
                <input type="checkbox">
                <span class="checkmark"></span>
            </label>
            <img class="choose-img" src="assets/test_img.jpg" alt="image">
        </div>
    </div>
</section>

<section class="choose" id="products">
    <h3 class="choose-header-text">Товари</h3>

    <div class="choose-dyed-items">
        <div class="choose-dyed-item">
            <label class="check-container">
                <input type="checkbox">
                <span class="checkmark"></span>
            </label>
            <img class="choose-img-prod" src="assets/prod1.jpg" alt="image">
        </div>
        <div class="choose-dyed-item">
            <label class="check-container">
                <input type="checkbox">
                <span class="checkmark"></span>
            </label>
            <img class="choose-img-prod" src="assets/prod2.jpg" alt="image">
        </div>
        <div class="choose-dyed-item">
            <label class="check-container">
                <input type="checkbox">
                <span class="checkmark"></span>
            </label>
            <img class="choose-img-prod" src="assets/prod2.jpg" alt="image">
        </div>
    </div>
</section>